.app {
  background-image: url("../src/components/cover/Cover1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.container {
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px;
}

.main-page {
   padding-top:90px;
   flex-basis: 40%;
   display:flex;
   flex-direction: column;
   align-items: flex-start;
}

.main-link {
   text-decoration: none;
   color: #ec7979;
}

/*.app-cover {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-cover {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/