.app {
   --primary-text-color: blue;
   --secondary-text-color: grey;
   --blue-background-color: blue; 
  background-image: url("../src/ui/cover/Cover1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.nav {
   height: 50px;
   width:100%;
   position: fixed;
   z-index:50;
   background-color: grey;
}

.burger-btn {
   z-index: 5;
   cursor: pointer;
   display: block;
   position: fixed;
   top: 27px;
   left: 47px;
   transition: all 0.5s ease-out 0s;
}

.burger-btn span {
   background-color: blueviolet;
   position: absolute;
   width: 24px;
   height: 3px;
   top: 50%;
   left: 50%;
   transition: all 0.3s ease 0s;
   transform: translate(-50%, -50%);
}

.burger-btn span::before {
   content: "";
   position: absolute;
   width: 15px;
   height: 3px;
   bottom: 7.5px;
   transition: all 0.3s ease 0s;
   background-color: blueviolet;
}

.burger-btn span::after {
   content: "";
   position: absolute;
   width: 24px;
   height: 3px;
   top: 7.5px;
   transition: all 0.3s ease 0s;
   background-color: blueviolet;
}



.container {
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px;
}

.main-page {
   padding-top:90px;
   flex-basis: 40%;
   display:flex;
   flex-direction: column;
   align-items: flex-start;
}

.main-link {
   text-decoration: none;
   color: #ec7979;
}

.form {
   display: flex;
}

.item {
   align-self: flex-start;
}

/*.app-cover {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-cover {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/