.link {
   list-style-type: none;
}

.link a {
   display: block;
   text-decoration: none;
   color: var(--burger-open-color);
   padding: 0 40px;
   width: 120px;
}

.link:hover {
   font-weight: 900;
}

.row {
   display: flex;
}
