.container {
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px;
}

.row {
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 30px;
}

.title {
   text-align: center;
}

.text {
   color: rgb(68, 55, 55);
   font-weight: 600;
}

.button {
   background-color: #ec7979;
   border: none;
   border-radius: 20px;
   font-size: 18px;
   line-height: 24.51px;
   color: #ffffff;
   font-family: "Open Sans";
   font-weight: 600;
   display: block;
   max-width: 170px;
   width: 100%;
   text-transform: capitalize;
   text-align: center;
   padding: 12px 0 12px 0;
   transition: all 0.3s linear 0s;
} 

.button:hover {
color: #fff;
background-color: #ab4949;
cursor: pointer;
}

.button:active {
box-shadow: 0px 0px 10px 0px #ab4949 inset;
color: #fff;
background-color: #ec7979;
}