.header {
   position: fixed;
   top: 0;
   left: 0;
   padding: 20px;
   width: 100%;
   z-index: 20;
}

.headerIsOpen {
   background-color: var(--menu-color);
}

.text {
   display: block;
   font-size: 20px;
   margin-left: 5px;
   color: var(--primary-text-color);
}

.row {
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.switch {
   display: flex;
   margin-right: 50px;
}
