.header {
   position: fixed;
   top: 0;
   left: 0;
   padding: 20px;
   width: 100%;
   z-index: 20;
}

.headerIsOpen {
   background-color: var(--menu-color);
}

.switсher {
   margin: 20px 0 0 500px;
}

.text {
   font-size: 20px;
   margin-left: 5px;
   color: var(--primary-text-color);
}
