.wrapper {
   background-color: var(--background-color);
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px;
}

.row {
   padding-bottom: 200px;
   max-width: 40%;
}

.post {
   margin-top: -40px;
   padding-top: 150px;
}
