.nav {
   padding-left: 0;
   color: var(--burger-open-color);
   font-size: 20px;
}

.nav li {
   padding: 5px 20px;
   margin: 0 10px;
   cursor: pointer;
   border-radius: 50px;
}

.nav li:first-child {
   margin-left: 0;
}

.wrapper {
   width: 65%;
}