.wrapper {
   background-color: var(--background-color);
}

.container {
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px;
}

.page {
   padding-top: 150px;
   flex-basis: 40%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.title {
   color: whitesmoke;
   font-size: 40px;
}

.text {
   font-size: 20px;
   margin-bottom: 50px;
}

.link {
   text-decoration: none;
   color: whitesmoke;
   padding: 0;
}

.link span {
   color: #ec7979;
}

.button {
   font-family: "Open Sans";
   font-weight: 600;
   display: block;
   max-width: 170px;
   width: 100%;
   text-transform: capitalize;
   text-align: center;
   transition: all 0.3s linear 0s;
   margin-bottom: 100px;
}
