.wrapper {
   display: flex;
   justify-content: space-around;
   width: 50px;
   align-items: center;
   margin-left: 60px;
}

.wrapper > * {
   display: flex;
   justify-content: space-between;
}

.count {
   width: 40px;
   color: #ff9797;
   font-weight: 700;
   margin-left: 5px;
}

svg path {
   fill: var(--primary-text-color);
   color: var(--primary-text-color);
}
