.input {
   display: block;
   width: 200px;
   font-size: 14px;
   border: 2px solid #ec7979;
   border-radius: 20px;
   padding: 12px;
   outline: none;
   background-color: rgb(214, 197, 230);
   margin: 10px 0 20px;
}

.label {
   font-size: 18px;
}
