.item {
   background-color: white;
   border-radius: 15px;
   border: none;
   padding: 20px;
   text-align: left;
   cursor: pointer;
   width:50%;
 }
 
 .wrapper {
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
 }

 .img {
   width: 100%;
   object-fit: cover;
   border-radius: 15px;
 }
 
 .title {
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 20px;
   font-weight: 600;
 }
 
 .text {
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 20px;
 }
 